.container{
  width: 400px;
  height: 400px;
  margin: 20px auto;
  text-align: center;
  font-size: 5em;
}

.board-row{
  height: 30%;
  width: 30%;
  border: 1px solid black;
  float: left;
}

.status{
  
  height: 30px;
  width: 100%;
  text-align: center;
  font-size: 25px;
}



.kbd-navigation .square:focus {
  background: #ddd;
}



.game-info {
  margin-left: 20px;
}

.bold{
  background-color: green;
}


